<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-title>My Favorites Artists</mat-card-title>
        <mat-list *ngFor="let fav of myfavs">
          <mat-list-item>
            <a (click)="selected(fav.id);">{{fav.name}} ({{fav.artworks?.length}})</a>
            <button mat-icon-button (click)="selected(fav.id)">
              <mat-icon>info</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
  <br>

  <div class="row" *ngIf="selected_artist">
    <div class="col-md-12">
      <mat-card>
          <mat-card-title>{{selected_artist.name}}</mat-card-title>
        <mat-card-header>
          <mat-card-title>{{selected_artist.sortable_name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-lg-image [src]="selected_artist._links.thumbnail.href" alt="{{selected_artist.name}}">
        <mat-card-content>
          <br>
          <p>{{selected_artist.biography}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <br />
  <div class="row" *ngIf="artworks">
    <div class="col-md-12">
      <div class="row">
        <mat-card class="col" *ngFor="let artwork of artworks | paginate: { itemsPerPage: 4, currentPage: p }">
          <img mat-card-lg-image [src]="selected_artist._links.thumbnail.href" alt="{{selected_artist.name}}">
          <mat-card-content>
            <br>
            <mat-card-subtitle>{{artwork.title}}</mat-card-subtitle>
            <mat-card-subtitle>{{artwork.medium}}</mat-card-subtitle>
            <mat-card-subtitle>{{artwork.dimensions.cm.text}}</mat-card-subtitle>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button >More info</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <br/>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</div>
